/* IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

/* BODY */
body{
    background-color: #5f5f5f;
}
.admintitle{
    margin: 20px;
}
.admintitle p, .admintitle h1{
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.accordion{
    margin-bottom: 20px;
}

/* NAVBAR */
.navbar-text{
    margin-right: 20px;
}
.navbar-toggle {
    background-color: rgb(96, 201, 235);
    border: 1px solid rgb(96, 201, 235);
    border-radius: 0;
    transition: all .4s ease-in-out;
}
.navbar-default .navbar-toggle {
    border-color: #009cab;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: #fff;
}
.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: #009cab;
}
.form-control:focus {
    border-color: #009cab;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-default .navbar-brand{
    border: 1px solid transparent;
    color: #009cab;
    font-size: 33px;
    padding: 10px 10px;
    height: auto;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: capitalize;
}
ul.nav.navbar-nav.navbar-right{
    margin-top: 10px;
}
.navbar-default .navbar-brand span{
    color: #f04c25;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #009cab;
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    padding: 5px 0px;
    border-radius: 0;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a{
    color: #009cab;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all .4s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #009cab;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background: #009cab;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #fff;
    background: #009cab;
}

.navbar-toggler-icon i{
    color: #f04c25;
}

/* FOOTER */
.footer{
    text-align: center;
    padding: 20px;
    background:  #009cab;
    color: #fff;
}
.footer a{
    color: #fff;
    padding: 5px;
}
.footer a:hover{
    color: #fff;
}
.footer a:hover, footer a:focus{
    text-decoration: none;
    color: #fff;
}
.top {
    display: inline-block;
    float: right;
    background-color: #f04c25;
    border-radius: 4px;
}

/* LOADER */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -60px;
    width: 120px;
    height: 120px;
    background-image: url(#{request.contextPath}/resources/images/loading.png) ;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}
#loader .circle{
    border: 8px solid transparent;
    border-top: 8px solid #009cab;
    border-bottom: 8px solid #009cab;
    border-right: 8px solid #009cab;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
}
#loadDiv {
    display: none;
    text-align: center;
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

/* ANIMATIONS */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

/* MEDIA QUERIES */
@media (max-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}